<html>
    <head>
        <title>Amadon page</title>
    </head>
    <body>
        <h1>Amadon Store!</h1>
        <table border=1>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Dojo T-Shirt</td>
                <td>19.99</td>
                <td>
                    <form action='/process/' method='post'>
                    {% csrf_token %}
                        <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='19.99' />
                        <button type='submit'>Buy!</button>
                    </form></td>

            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>29.99</td>
                <td>
                    <form action='/process/' method='post'>
                    {% csrf_token %}
                        <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='29.99' />
                        <button type='submit'>Buy!</button>
                    </form>
                </td>

            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>4.99</td>
                <td>
                    <form action='/process/' method='post'>
                    {% csrf_token %}
                        <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='4.99' />
                        <button type='submit'>Buy!</button>
                    </form>
                </td>

            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>49.99</td>
                <td>
                    <form action='/process/' method='post'>
                    {% csrf_token %}
                        <select name='quantity'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>3</option>
                        </select>
                        <input type='hidden' name='product_id' value='49.99' />
                        <button type='submit'>Buy!</button>
                    </form>
                </td>

            </tr>
        </table>
        <a href="/checkout" class="btn btn-default">Check Out</a>
    </body>
</html>