<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet", href="{% static 'exam/styles/style.css' %}">
</head>
<body>
    <h1>Add a Job</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form action="/create_job/" method = 'post'>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">Title</label>
                <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Job">

            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">LOCATION</label>
                <input type="text" class="form-control" name="location" id="exampleFormControlInput1" placeholder="location">

            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>