<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard" class="btn btn-default">Back</a>
    <a href="/logout" class="btn btn-default">logout</a>
   
    <h1>{{jobs.title}}</h1>
    <p>{{jobs.description}}</p>
    <p>Location : {{jobs.location}}</p>
    <p>Posted on: {{jobs.created_at}}</p>
    <p>Posted by: {{jobs.user.first_name}}</p>
    <a href="/{{jobs.id}}/add" class="btn btn-default">Add</a>
</body>
</html>