<html>
    <head>
        <title>Leads and Clients</title>
        <script>
            window.onload = function () {
            
            var options = {
                title: {
                    text: "Customers and Number of new leads"
                },
               
            
            data: [{
                type: "pie",
                startAngle: 6,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: {{Customer_data|safe}}
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
            
            }
        </script>
                         
    </head>
    <body>
         <form action= '/update' method='post'>
            <label for="start">{{start_time}}</label>

            <input type="date" id="start" name="start_time" value="2010-11-05" min="2010-11-05" max="2019-12-31">
            <label for="start">{{end_time}}</label>

            <input type="date" id="start" name="end_time" value="2010-11-05" min="2010-11-05" max="2019-12-31">  
            <button>update</button>
        </form> 
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Number of Leads</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td>{{client['customer_name']}}</td>
                <td>{{client['number_leads']}}</td>
            
                
            </tr>
            {% endfor %}
        </table>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> 
    </body>
</html>