<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet", href="{% static 'belt_reviewer/styles/style.css' %}">
</head>
<body> 
    <div class="links">
        <a class="nav-link" href="{% url 'users:books' %}">Home</a> 
        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a> 
    </div>
    <h1>Add a new book title and a Review</h1>
    
        
    <form action="/create_book/" method="post">
            {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">Book Name</label>
                <input type="text" class="form-control" name="book_name" id="exampleFormControlInput1" placeholder="Book Name">

            </div>
        </div>
        
        <div class="form-row">
               
            <div class="form-group col-md-6">
                
                <label for="exampleFormControlSelect1">Author Name</label>
                <select class="form-control" name="author_first" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Rick Riordon</option>
                    <option>Holly Goldberg sloan</option>
                    <option>Chetan Bhagat</option>
                    <option>Ravi shankar</option>
                    <option>RAchel Renee Russell</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="exampleFormControlInput1">Or add a new author:</label>
            <input type="text" class="form-control" name="author_next" id="exampleFormControlInput1" >
            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                <label for="exampleFormControlTextarea1">Review</label>
                <textarea class="form-control" name="review" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
           
        <div class="form-group col-md-2">
            <label for="stars">Rating</label>
            <select id="stars" name="stars" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add book and Review</button>
        
    </form>
    
</body>
</html>