<html>
    <head>
        <title>friends</title>
    </head>
    <body>
        <h1>These are my friends</h1>
        
        <table>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Occupation</th>
            </tr>
            {% for friend in friends %}
            <tr>
                <td>{{friend['first_name']}}</td>
                <td>{{friend['last_name']}}</td>
                <td>{{friend['occupation']}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action='/create' method='post'>
            <label for="first_name">First Name</label>
            <input id="first_name" name="first_name" type="text">
            <label for="last_name">Last Name</label>
            <input id="last_name" name="last_name" type="text">
            <label for="occupation">occupation</label>
            <input id="occupation" name="occupation" type="text">
            <button>Submit</button>

        </form>
        
    </body>
</html>